<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un employé</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="container mt-5">
    <a class="arrow-link" href="http://localhost:8080/employees">Liste des employes</a>

    <div class="container mt-5">
        <h2 class="mt-4">Ajout d'employé</h2>

        <form th:action="@{/addEmployee}" th:object="${newEmployee}" method="post" enctype="multipart/form-data">

            <input type="hidden" th:field="*{id}"/>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nom">Nom:</label>
                    <input type="text" class="form-control" id="nom" th:field="*{nom}" required/>
                </div>

                <div class="form-group col-md-6">
                    <label for="prenoms">Prénoms:</label>
                    <input type="text" class="form-control" id="prenoms" th:field="*{prenoms}" required/>
                </div>
            </div>

            <div class="form-group">
                <label for="dateNaissance">Date de naissance:</label>
                <input type="date" class="form-control" id="dateNaissance" th:field="*{dateNaissance}" required/>
            </div>

            <div class="form-group">
                <label for="sexe">Sexe:</label>
                <select class="form-control" id="sexe" th:field="*{sexe}" required>
                    <option value="">Sélectionnez le sexe</option>
                    <option value="Femme">F</option>
                    <option value="Homme">H</option>
                </select>
            </div>



            <div class="form-group">
                <label>Téléphones :</label>
                <input type="text" th:field="*{telephonesWithCountryCode[0]}" required class="form-control"  title="Le téléphone doit commencer par le code pays unique suivi d'un espace, suivi de 10 chiffres."/>
                <input type="text" th:field="*{telephonesWithCountryCode[1]}" class="form-control"  title="Le téléphone doit commencer par le code pays unique suivi d'un espace, suivi de 10 chiffres."/>
            </div>



            <div class="container mt-5">
                <!-- Check if there is an error message in the model -->
                <div th:if="${error}" class="alert alert-danger">
                    <p th:text="${error}"></p>
                </div>
            </div>



            <div class="form-group">
                <label for="adresse">Adresse:</label>
                <input type="text" class="form-control" id="adresse" th:field="*{adresse}" required/>
            </div>

            <div class="form-group">
                <label for="emailPerso">Email personnel:</label>
                <input type="email" class="form-control" id="emailPerso" th:field="*{emailPerso}" required/>
            </div>

            <div class="form-group">
                <label for="emailPro">Email professionnel:</label>
                <input type="email" class="form-control" id="emailPro" th:field="*{emailPro}" required/>
            </div>

            <div class="form-group">
                <label for="cinNumero">Numéro CIN:</label>
                <input type="text" class="form-control" id="cinNumero" th:field="*{cinNumero}" required/>
            </div>

            <div class="form-group">
                <label for="cinDateDelivrance">Date de délivrance CIN:</label>
                <input type="date" class="form-control" id="cinDateDelivrance" th:field="*{cinDateDelivrance}" required/>
            </div>

            <div class="form-group">
                <label for="cinLieuDelivrance">Lieu de délivrance CIN:</label>
                <input type="text" class="form-control" id="cinLieuDelivrance" th:field="*{cinLieuDelivrance}" required/>
            </div>

            <div class="form-group">
                <label for="fonction">Fonction:</label>
                <input type="text" class="form-control" id="fonction" th:field="*{fonction}" required/>
            </div>

            <div class="form-group">
                <label for="nombreEnfants">Nombre d'enfants à charge:</label>
                <input type="number" class="form-control" id="nombreEnfants" th:field="*{nombreEnfants}" required/>
            </div>

            <div class="form-group">
                <label for="dateEmbauche">Date d'embauche:</label>
                <input type="date" class="form-control" id="dateEmbauche" th:field="*{dateEmbauche}" required/>
            </div>

            <div class="form-group">
                <label for="dateDepart">Date de départ (si applicable):</label>
                <input type="date" class="form-control" id="dateDepart" th:field="*{dateDepart}"/>
            </div>

            <div class="form-group">
                <label for="categorieSocioProfessionnelle">Catégorie socio-professionnelle:</label>
                <input type="text" class="form-control" id="categorieSocioProfessionnelle" th:field="*{categorieSocioProfessionnelle}" required/>
            </div>

            <div class="form-group">
                <label for="numeroCnaps">Numéro CNAPS:</label>
                <input type="text" class="form-control" id="numeroCnaps" th:field="*{numeroCnaps}" required/>
            </div>

            <div class="form-group">
                <label for="imageFile">Image (Taille maximale: 10 Mo) :</label>
                <input type="file" class="form-control-file" id="imageFile" name="imageFile" required accept=".jpg,.png,.jpeg" />
            </div>

            <div class="form-group">
                <label for="salaireBrut">Salaire brut:</label>
                <input type="number" class="form-control" id="salaireBrut" th:field="*{salaireBrut}" required/>
            </div>


            <button type="submit" class="btn btn-dark">Ajouter</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
