<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un employé</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addEmployee.css}"/>


</head>
<body>
<h2>Ajout d'employé</h2>

<form th:action="@{/addEmployee}" th:object="${newEmployee}" method="post" enctype="multipart/form-data">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" th:field="*{nom}" required/><br/>

    <label for="prenoms">Prénoms:</label>
    <input type="text" id="prenoms" th:field="*{prenoms}" required/><br/>

    <label for="dateNaissance">Date de naissance:</label>
    <input type="date" id="dateNaissance" th:field="*{dateNaissance}" required/><br/>

    <label for="imageFile">Image (Taille maximale: 10 Mo) :</label>
    <input type="file" id="imageFile" name="imageFile" required accept=".jpg,.png,.jpeg" />




    <button type="submit">Ajouter</button>
</form>
</body>
</html>
