<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <title>Employee Details</title>
</head>
<body>
<h1>Employee Details</h1>

<p><strong>ID:</strong> [[${employee.id}]]</p>
<p><strong>Nom:</strong> [[${employee.nom}]]</p>
<p><strong>Prénoms:</strong> [[${employee.prenoms}]]</p>
<p><strong>Âge:</strong> [[${employee.dateNaissance.until(T(java.time.LocalDate).now()).getYears()}]] ans</p>
<p><strong>Date d'embauche:</strong> [[${employee.dateEmbauche}]]</p>
<p><strong>Date de départ:</strong> [[${employee.dateDepart}]]</p>
<p><strong>Numéro CNAPS:</strong> [[${employee.numeroCnaps}]]</p>
<!-- Ajoutez d'autres champs d'employé ici -->

<div class="employee-image">
    <img th:if="${employee.imageData}" th:src="@{${baseUrl} + '/employeeImage/' + ${employee.id}}" alt="Photo d'identité" class="img-fluid rounded-circle"></img>
    <span th:unless="${employee.imageData}">Aucune image</span>
</div>


</body>
</html>
