<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .employee-link {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }
         h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Liste des employés</h1>

<table>
    <tr>
        <th>Nom</th>
        <th>Prénoms</th>
        <th>Date de naissance</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.nom}"></td>
        <td th:text="${employee.prenoms}"></td>
        <td th:text="${employee.dateNaissance}"></td>
        <td>
            <a th:href="@{'/employee/' + ${employee.id}}" class="employee-link">Détails</a>
        </td>
    </tr>
</table>
</body>
</html>
