<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/employees.css}"/>
    <a href="http://localhost:8080/addEmployee">Ajout d'employe</a>

</head>
<body>
<h1>Liste des employés</h1>




<table>
    <tr>
        <th>Nom</th>
        <th>Prénoms</th>
        <th>Date de naissance</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.nom}"></td>
        <td th:text="${employee.prenoms}"></td>
        <td th:text="${employee.dateNaissance}"></td>
        <td>
            <a th:href="@{'/employee/' + ${employee.id}}" class="employee-link">Détails</a>
        </td>
    </tr>
</table>




<!-- Le tableau et le contenu restant de la page restent inchangés -->
<form th:action="@{/employees}" method="get">
    <label>Nom: <input type="text" name="nom" th:value="${nom}" /></label>
    <label>Prénom: <input type="text" name="prenoms" th:value="${prenoms}" /></label>
    <label>Sexe: <input type="text" name="sexe" th:value="${sexe}" /></label>
    <label>Fonction: <input type="text" name="fonction" th:value="${fonction}" /></label>
    <label>Date d'embauche (début): <input type="date" name="dateEmbaucheStart" th:value="${dateEmbaucheStart}" /></label>
    <label>Date d'embauche (fin): <input type="date" name="dateEmbaucheEnd" th:value="${dateEmbaucheEnd}" /></label>
    <label>Date de départ (début): <input type="date" name="dateDepartStart" th:value="${dateDepartStart}" /></label>
    <label>Date de départ (fin): <input type="date" name="dateDepartEnd" th:value="${dateDepartEnd}" /></label>
    <input type="submit" value="Filtrer" />

    <a th:href="@{/employees/export/csv}" class="export-link">Exporter au format CSV</a>


</form>




</body>
</html>
